.header {
    margin: auto;
    /* box-sizing: border-box; */
    /* padding: 0 18px; */
    max-width: 964px;
}

.root {
    padding: 0 18px;
}

.name {
    padding: 2px 8px;
    border-radius: 4px;
    background-color: rgb(231, 245, 255);
}

.stack {
    /* border: 1px solid #228be6; */
    position: relative;
    width: 100%;
    z-index: 10012321;
    border-radius: 0 0 8px 8px;
    background-color: rgb(248, 249, 250);
    padding: 0 0 10px;
}

.link {
    font-weight: 700;
    font-size: 15px;
    /* padding-left: 16px; */
}

.link:hover {
    cursor: pointer;
}