.header {
    margin: auto;
    max-width: 928px;
}

.name {
    padding: 4px 8px;
    border-radius: 4px;
    background-color: rgb(231, 245, 255);
}

.stack {
    background-color: white;
}

.link {
    font-weight: 700;
    font-size: 15px;
    padding-left: 16px;
}

.link:hover {
    cursor: pointer;
}